files:
  "/var/app/app.config":
    mode: "000444"
    content: |
      AWS_REGION = '`{ "Ref" : "AWS::Region"}`'
option_settings:
  "aws:elasticbeanstalk:customoption":
     "AlarmEmail" : "nobody@amazon.com"
  "aws:elasticbeanstalk:application:environment":
    "APP_CONFIG": "/var/app/app.config"
    "CUSTOM_ENV_VAR": "We iz custom"

